.header {
    height: 130px;
    width: 100vw;
    border: 1px solid black;
   // padding: 0 40px 0 40px;
}

h1,.subtitle {
    margin-left: 10px;
}

.links {
    display: flex;
    justify-content: space-around;
}

.single-link {
    padding-right: 10px;
}

nav {
    width: 50vw;
    position: absolute;
    right: 0px;
    top: 100px;
}